.my-navbar {
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.my-navbar__left {
  display: flex;
  align-items: center;
}

.my-navbar__brand {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-right: 30px;
}

.my-navbar__right {
  display: flex;
  align-items: right;
}

.my-navbar__search {
  height: 20px;
  width: 200px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 10px;
  margin-left: auto;
}


.my-navbar__icon {
  font-size: 1rem;
  margin-right: 20px;
  color: #333;
}

.my-navbar__logout {
  font-size: 1rem;
  margin-right: 20px;
  color: #333;
  cursor: pointer;
}

